.hero {
  width: 100%;
  height: 799px;
  margin: 0 auto;
  background-image: url(/img/image\ 6.jpg);
}

.hero__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__div-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero__div-title {
  margin-bottom: 50px;
}

.hero__div-title_li {
  color: #ffffff;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
}

.hero__div-title_li_pink {
  color: #ffbaba;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
}

.hero__div-box_button {
  display: flex;
  width: 510px;
  justify-content: space-between;
}

.hero__div-box_button_li {
  width: 250px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  border-radius: 30px;
  border: solid #ffffff;
  color: #ffffff;
  background-color: #ffffff55;
}

.hero__div-box_btn_li {
  width: 250px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  border-radius: 30px;
  border: solid #ffffff;
  color: #ffffff;
  background-color: #ffffff55;
}

.hero__div-box_svg {
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
}
