.services {
  width: 100%;
  height: 900px;
  background-image: url(/img/image\ 5.jpg);
}

.services__title {
  color: #ffffff;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
}

.services__div {
  display: flex;
  width: 1340px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}

.services__div-ul {
  width: 320px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.services__div-ul_li-text {
  width: 320px;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  letter-spacing: 1.08px;
  margin-top: 20px;
}
