.slider{
  width: 1360px;
}

.works {
  width: 100%;
  height: 900px;
  background-image: url(/img/image\ 5.jpg);
}

.works__div {
  width: 1360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.works__box {
  position: absolutes;
  display: flex;
  width: 1240px;
  height: 300px;
  opacity: 0;
  align-items: center;
  justify-content: space-between;
}

.works__box.active{
  opacity: 1;
}

.works__title {
  color: #ffffff;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
  margin-bottom: 200px;
}

.works_icon {
  position: absolute;
  display: flex;
  width: 84px;
  height: 32px;
  justify-content: space-between;
  margin-top: 350px;
}
